*{
    margin: 0;
    padding: 0;
    font-family:'Poppins', sans-serif;
    box-sizing: border-box;
}
 .container{
    height: 100vh;
    width: 100%;
    background:azure;
    display: flex;
    border: 10px solid black;
    align-items:center;
    justify-content:center;
 }
 .calculator{
    background-color: rgb(23, 21, 23);
    padding: 20px;
    border-radius: 10px;
    box-shadow: -15px  15px  15px rgb(9, 9, 9);
    background-color: azure;
    border: 2px solid black;
    
   
 }
 .calculator form input{
    border: 0;
    outline: 0;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(125, 122, 124, 0.214),5px  5px  15px rgb(125, 122, 124);
    background: transparent;
    font-size: 20px;
    color:black;
    cursor: pointer;
    margin: 10px;
 }

 form .display{
    display: flex;
    justify-content: flex-end;
    margin: 0px;
    
 }
  form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    border: 3px solid rgb(108, 107, 107);

  }
form input.equal{
    width: 145px;
    color:red;
  }
  form input.operator{
color: red;
  }